<div *ngIf="authenticated">
    <header>
        <app-navbar></app-navbar>
     </header>
     
     <div>
         
     <div class="d-flex justify-content-between m-5 mb-0 fadeIn">
         <h2 class="">Mi Inventario</h2>
         <a type="button" class="btn btn-inv p-2 "  href="/regInv" >Registrar Producto</a>
     </div>
     
     <div class="card shadow p-3 mb-5 bg-white rounded fadeIn">
     <table class="tabla table table-hover table-responsive" >
     <thead class="theadblue">
         <tr>
             <th>Id</th>
             <th>Nombre</th>
             <th>Descripcion</th>
             <th>Precio Unitario</th>
             <th>Cantidad en stock</th>
             <th>Cantidad vendida</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let item of listaProductos">
             <td>{{item.idInvProd}}</td>
             <td>{{item.producto.nombreProducto}}</td>
             <td>{{item.producto.descripcion}}</td>
             <td>{{item.producto.precioUnitario }}</td>
             <td>{{item.cantidad_inv}}</td>
             <td>{{item.cantidad_vend}}</td>
             
     
         </tr>
     </tbody>
     
     </table>
     </div>
     
     </div>
</div>
<div *ngIf="!authenticated">
    <p>no estas autenticado</p>
</div>

