<div *ngIf="authenticated">
    <header>
        <app-navbar></app-navbar>
     </header>
     
     <div>
         
     <div class="d-flex justify-content-between m-5 mb-0 fadeIn">
         <h2 (click)="speak('Mi Inventario')">Mi Inventario</h2>
         <a type="button" class="btn btn-inv p-2 "  href="/regInv" (click)="speak('Registrar Producto')" >Registrar Producto</a>
     </div>
     
     <div class="card shadow p-3 mb-5 bg-white rounded fadeIn">
     <table class="tabla table table-hover table-responsive" >
     <thead class="theadblue"> 
         <tr>
             <th>Id</th>
             <th>Nombre</th>
             <th>Descripcion</th>
             <th>Precio Unitario</th>
             <th >Cantidad en stock</th>
             <th *ngIf="inventarioInfo.idinventario!=1">Cantidad vendida</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let item of listaProductos">
             <td>{{item.idInvProd}}</td>
             <td (click)="speak(item.producto.nombreProducto)">{{item.producto.nombreProducto}}</td>
             <td (click)="speak(item.producto.descripcion)">{{item.producto.descripcion}}</td>
             <td (click)="speak('El precio unitario de'+ item.producto.nombreProducto +' es: '+ item.producto.precioUnitario)">{{item.producto.precioUnitario }}</td>
             <td (click)="speak('La cantidad en stock de'+ item.producto.nombreProducto +' es: '+ item.producto.cantidad_inv)">{{item.cantidad_inv}}</td>
             <td *ngIf="inventarioInfo.idinventario!=1" (click)="speak('La cantidad vendida de'+ item.producto.nombreProducto +' es: '+ item.cantidad_vend)">{{item.cantidad_vend}}</td>
             
     
         </tr>

     </tbody>
     
     </table>
     </div>
     <div *ngIf="administrator">
        <div >
            <h2 class="">Devoluciones</h2>
         </div>
    
         <div class="card shadow p-3 mb-5 bg-white rounded fadeIn" >
            <table class="tabla table table-hover table-responsive" >
            <thead class="theadblue">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad Devuelta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaDevoluciones">
                    <td>{{item.idInvProd}}</td>
                    <td>{{item.producto.nombreProducto}}</td>
                    <td>{{item.producto.descripcion}}</td>
                    <td>{{item.producto.precioUnitario }}</td>
                    <td>{{item.cantidad_inv}}</td>
                    
            
                </tr>
                
            </tbody>
            
            </table>
            </div>
     </div>
     
     
     </div>
</div>
<div *ngIf="!authenticated">
    <app-not-auth></app-not-auth>
</div>

