<header>
   <app-navbar></app-navbar>
</header>

<div>
    
<div class="d-flex justify-content-between m-5 mb-0 fadeIn">
    <h2 class="">Mi Inventario</h2>
    <a type="button" class="btn btn-inv p-2 "  href="/regInv" >Registrar Producto</a>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded fadeIn">
<div class=" d-flex justify-content-between">


<form class="form-inline" asp-page-handler="BuscarInv" method="post">
    <div class="input-group mb-3">
        <label for="fechaventas" class="col-form-label mx-2">Fecha: </label>
        <input type="date" asp-for="FechaInv" class="form-control" placeholder="Fecha a consultar" aria-label="Fecha a consultar" >
        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
    </div>
</form>
</div>
<table class="tabla table table-hover table-responsive">
<thead class="theadblue">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of listaProductos">
        <td>{{item.idInvProd}}</td>
        <td>{{item.producto.nombreProducto}}</td>
        <td>{{item.producto.descripcion}}</td>
        <td>{{item.producto.precioUnitario }}</td>
        <td>{{item.cantidad}}</td>
        

    </tr>
</tbody>

</table>
</div>

</div>
