<div *ngIf="authenticated">
    <header>
        <app-navbar></app-navbar>
    </header>

    
    <div>
        
    <div class="d-flex justify-content-between m-5 mb-0 fadeIn">
        <h2 class="">Lista de Inventarios</h2>
    </div>
    
    <div class="card shadow p-3 mb-5 bg-white rounded fadeIn">
    <div class=" d-flex justify-content-between">
    
    
   
    </div>
    <table class="tabla table table-hover table-responsive">
    <thead class="theadblue">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Fecha Creacion</th>
            <th>Propietario</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listaInventarios">
            <td>{{item.idinventario}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.fechaCreacion | date:'dd/mm/yyyy'}}</td>
            <td>{{item.creador.nombre}}</td>
            
    
        </tr>
    </tbody>
    
    </table>
    </div>
    
    </div>
</div>


 <div *ngIf="!authenticated">
    <app-not-auth></app-not-auth> 
</div>
 