.card{
    margin: 2.5em;
}


.btn-inv{
  background-color: var(--secondary-color);
  color:white;
  border-radius: 15px;
  
}

nav{
  background-color: var(--primary-color);
  box-shadow: 0 .4rem .5rem rgba(0,0,0,.15)!important;
}
.dropdown-toggle{
  color: white!important;
}
.card{
  border-radius: 20px !important;
}

 tr:has(td):hover, .dropdown-item:hover{
  background-color: var(--transparency-secondary-color);
}
.nav-item{
  margin:0 0.5em;
}

  