
    <header>
        <app-navbar></app-navbar>
    </header>
    
    <div>
        
    <div class="d-flex justify-content-between m-5 mb-0 fadeIn">
        <h2 class="">Lista de Ventas</h2>
        <a type="button" href="/regVent" class="btn btn-inv">Registrar Venta</a>  
    </div>
    
    <div class="card shadow p-3 mb-5 bg-white rounded fadeIn">
    <div class=" d-flex justify-content-between">
    
    
    <form class="form-inline" asp-page-handler="BuscarInv" method="post">
        <div class="input-group mb-3">
            <label for="fechaventas" class="col-form-label mx-2">Fecha: </label>
            <input type="date" asp-for="FechaInv" class="form-control" placeholder="Fecha a consultar" aria-label="Fecha a consultar" >
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
    </form>
    </div>
    <div class=" d-flex justify-content-between">
        <div class="row">
            <div >
                <input type="submit" name="add" value="Abrir" class="btn btn-primary form-control" (click)="abrirOperacion()" />
            </div>
        </div>
    </div>
    <table class="tabla table table-hover table-responsive">
    <thead class="theadblue">
        <tr>
                <th>idVenta</th>
                <th>Nombre Cliente</th>
                <th>Fecha</th>
                <th>Total ($)</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="obtenerDatosFila($event)">
            <td>123</td>
            <td>Juanito alcachofa</td>
            <td>02/03/2023</td>
            <td>$ 24000</td>
        </tr>
        <tr (click)="obtenerDatosFila($event)">
            <td>123</td>
            <td>Juanito alcachofa</td>
            <td>02/03/2023</td>
            <td>$ 24000</td>
        </tr>
        <tr (click)="obtenerDatosFila($event)">
            <td>123</td>
            <td>Juanito alcachofa</td>
            <td>02/03/2023</td>
            <td>$ 24000</td>
        </tr>
        <tr (click)="obtenerDatosFila($event)">
            <td>123</td>
            <td>Juanito alcachofa</td>
            <td>02/03/2023</td>
            <td>$ 24000</td>
        </tr>
       
    </tbody>
    
    </table>

    </div>

    </div>
    
    