<header>
    <app-navbar></app-navbar>
</header>

<div>
    
<div class="d-flex justify-content-between m-5 mb-0 fadeIn">
    <h2 class="">Registrar Ventas</h2>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded fadeIn " style="width:80%;">
    <form [formGroup]="addVenta" (ngSubmit)="onSubmit($event)">
        <div asp-validation-sumary="ModelOnly">
            <div class="container" style="padding:10px;">
                <div class="form-group">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label asp-for="venta.idventa">N° Venta</label>
                                <input class="form-control" formControlName="idVenta" readonly/>
                                <span asp-validation-for="venta.Cantidad" class="text-danger"></span>    <!--Texto de aviso en caso de que el campo no cumpla los requerimentos-->
                            </div>

                        </div>
                    </div>                    
                    
                    <div class="form-group">
                        <h5>Datos del cliente</h5>
                        <div class="row">
                            <div class="col">
                                <label asp-for="venta.NombreCliente">Nombre cliente</label>
                                <input  class="form-control" formControlName="nombreCliente" />
                                <span asp-validation-for="venta.NombreCliente" class="text-danger"></span>
                            </div>
                            
                           
                        </div>
                        <div class="row">
                            <div class="col">
                                <label >Documento Cliente</label>
                                <input  type="number" class="form-control" formControlName="documentoCliente" />
                                <span asp-validation-for="venta.NombreCliente" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <label asp-for="venta.NombreCliente">Direccion Cliente</label>
                                <input  class="form-control" formControlName="direccionCliente" />
                                <span asp-validation-for="venta.NombreCliente" class="text-danger"></span>
                            </div>
                            <!--Texto de aviso en caso de que el campo no cumpla los requerimentos-->
                        </div>
                        <div class="row">
                            <div class="col">
                                <label >Telefono Cliente</label>
                                <input  type="number" class="form-control" formControlName="telefonoCliente" />
                                <span asp-validation-for="venta.NombreCliente" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <label asp-for="venta.lbltotalVenta">Total Venta: {{totalVenta}} </label>
                            </div>
                             
                        </div>
                    </div>

                </div>
                </div>
                </div>    
                    

    <form [formGroup]="addProdForm" (ngSubmit)="onSubmit($event)">
        <div asp-validation-sumary="ModelOnly">
            <div class="container" style="padding:30px;">
                <div class="form-group mt-3">
                    <div class="row">
                        <div class="col">
                            <label asp-for="venta.Producto">Producto</label>
                            <select id="nameProducto" class="form-select" formControlName="productoIdproducto">
                                <option *ngFor="let producto of listaProductos" value="{{producto.idproducto}}">{{producto.nombreProducto}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="row">
                        <div class="col">
                            <label asp-for="venta.Cantidad">Cantidad</label>
                            <input id="cant" class="form-control" type="number" formControlName="cantidad" />
                            <span asp-validation-for="venta.Cantidad" class="text-danger"></span>    <!--Texto de aviso en caso de que el campo no cumpla los requerimentos-->
                        </div>
        
                    </div>
                </div>
        
                <div class="form-group mt-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="submit" name="add" value="Agregar Producto" class="btn btn-primary form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </form>

    <table class="tabla table table-hover table-responsive" id="tablaProductos" *ngIf="datosTabla.length > 0" style="margin-left:30px;">
        <thead class="theadblue">
            <tr>
                <th>Id</th>
                <th>Nombre Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datosTabla"> 
                <td>{{item.productoIdproducto}}</td>
                <td>{{item.nameproducto}}</td>
                <td>{{item.precioUnd}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.total}}</td>              
            </tr>
        </tbody>
        </table>
    <div *ngIf="datosTabla.length == 0" style="padding:30px;">
        <h5>Agrega un producto :D</h5>
    </div>

<div class="form-group ">
    <div class="row mt-6">
        <div class="col-sm-4">
            <input type="submit" name="registrar" value="Registrar Venta" class="btn btn-success form-control" />
        </div>
        <div class="col-sm-4">
            <a type="button" href="/vent" class="btn btn-inv">Volver a la lista</a>  
        </div>
    </div>
</div>

</form>
</div>

<script>

</script>
