<header>
    <app-navbar></app-navbar>
</header>

<div>
    
<div class="d-flex justify-content-between m-5 mb-0 fadeIn">
    <h2 class="">Registrar Venta</h2>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded fadeIn ">
    <form method="post">
        <div asp-validation-sumary="ModelOnly">
            <div class="container" style="padding:30px;">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label asp-for="venta.Fecha">Fecha</label>
                            <input asp-for="venta.Fecha" type="date" class="form-control" />
                            <span asp-validation-for="venta.Fecha" class="text-danger"></span>    <!--Texto de aviso en caso de que el campo no cumpla los requerimentos-->
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label asp-for="venta.Cantidad">Cantidad</label>
                                <input asp-for="venta.Cantidad" class="form-control" />
                                <span asp-validation-for="venta.Cantidad" class="text-danger"></span>    <!--Texto de aviso en caso de que el campo no cumpla los requerimentos-->
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label asp-for="venta.NombreCliente">Nombre cliente</label>
                                <input asp-for="venta.NombreCliente" class="form-control" />
                                <span asp-validation-for="venta.NombreCliente" class="text-danger"></span>
                            </div>
                            <!--Texto de aviso en caso de que el campo no cumpla los requerimentos-->
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="row">
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option value="@item.IdProducto">Funda celular</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="submit" value="Registrar" class="btn btn-primary form-control" />
                            </div>
                            <div class="col-sm-4">
                                <a type="button" href="/vent" class="btn btn-inv">Volver a la lista</a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
